{% extends 'home_page/HomePageClient.html.twig' %}

{% block title %}Ouverage index{% endblock %}

{% block body %}
    <h1>Nos Livres</h1>

        {# @var ouverage \Ouverage #}
        {% for ouverage in pagination %}
                    <div class="row">
                    <div class="card col" style="width: 18rem;">
                        <img class="card-img-top" src="{{ asset(ouverage.imagePath) }}" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="col">
                        {{ ouverage.nomLivre }}
                    </div>
                        <div class="col">
                            {{ ouverage.auteur }}
                        </div>
                    </div>

            <div class="col">
                <div class="our_box">

                        <strong>{{ ouverage.prixVente }} , 30</strong>
                        <a class="read_more" href="{{ path('app_emprunt_new', { 'id_client' : 252 ,'id_livre' :ouverage.id , 'nbr_semaine':5}) }}">acheter</a>

                </div>
            </div>

                    <div>___________________________</div>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}

    {{ knp_pagination_render(pagination) }}
{% endblock %}
