{% extends 'baseBack.html.twig' %}

{% block title %}Evenement index{% endblock %}

{% block body %}
    <h1>Evenement index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Lieux</th>
            <th>Date</th>
            <th>Description</th>
            <th>Nbrplace</th>
            <th>images</th>
            <th>show</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.id }}</td>
                <td>{{ evenement.nom }}</td>
                <td>{{ evenement.lieux }}</td>
                <td>{{ evenement.date ? evenement.date|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.description }}</td>
                <td>{{ evenement.nbrplace }}</td>
                <td class="table-light"><img src="{{ asset('/uploads/' ~ evenement.image )|imagine_filter('carre') }}" alt="img" class="image"  ></td>
                <td>
                    <a href="{{ path('app_evenement_show_back', {'id': evenement.id}) }}">show</a>

                </td><td>

                    <a href="{{ path('app_evenement_edit', {'id': evenement.id}) }}">edit</a>
                </td><td>
                    {{ include('evenement/_delete_form.html.twig') }}
                </td>


            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_evenement_new') }}">Create new</a>
{% endblock %}
