{% extends 'home_page/HomePageClient.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
    <h1>Evenement</h1>

    <table class="table" border="1px">
        <tbody>

        <tr>
            <th>Nom</th>
            <td>{{ evenement.nom }}</td>
        </tr>
        <tr>
            <th>Lieux</th>
            <td>{{ evenement.lieux }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ evenement.date ? evenement.date|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ evenement.description }}</td>
        </tr>
        <tr>
            <th>Nbrplace</th>
            <td>{{ evenement.nbrplace }}</td>


        </tr>

        </tbody>
    </table>

{% endblock %}
