{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form)}}
    <br>
    {{ form_widget(form.code,{"attr":{"placeholder":"Code"}})}}
    {{ form_errors(form.code)}}
    <br>
    <br>
    {{ form_row(form.mdpUser.first,{"attr":{"placeholder":"Mot de passe"}})}}
    {{ form_errors(form.mdpUser.first)}}
    <br>
    {{ form_row(form.mdpUser.second,{"attr":{"placeholder":"Confirmer le mot de passe"}})}}
    <font color="red">
        {{ form_errors(form.mdpUser.second)}}
    </font >
    <br>
    <button style="width: 180px"  class="btn btn-primary">{{ button_label|default('Se connecter') }}</button>
    {{ form_end(form,{'attr': {'novalidate': 'novalidate'}} ) }}
    <a href="{{ path('app_login_login') }}">Retour</a>

{%endblock%}
