{% extends 'base.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block body %}
    <h1>Detailes de panier</h1>
    <div>
        <div class="detailcommande">
            <h2> la commande numero {{ commandes.idCommande }} </h2>
        </div>

    </div>
    <div class="ourwork">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Les livres ajouter au panier </h2>
                    </div>
                </div>
            </div>
            <div class="row">
    {% for ouverage in ouverages %}

                <div class="col-md-4">
                    <div class="our_box">
                        <div class="jonu">
                            <img src="{{ asset('Front/images/LOGO1.png') }}" alt="#"/>
                            <h3>  {{ ouverage.nomLivre }}</h3>
                            <strong>{{ ouverage.prixVente }}</strong>
                       {#      <a class="read_more" href="{{ path('app_commande_supp', { 'idCommande' :2 , 'idouvrage':5}) }}">supprimer</a>#}

                        </div>
                    </div>
                </div>
    {% endfor %}

            </div>

        </div>
    </div>

    <div class="detailcommande">
        <h2> le prix total de la commande est {{ commandes.prixTotal }}  Dinars </h2>
    </div>

    <div class="detailcommande">
        <h2> Cette commande n'est pas encore payée {{ commandes.etat }}</h2>
    </div>












                    <a href="{{ path('app_commande_edit', {'idCommande': commandes.idCommande}) }}">payer</a>






    {#    <a href="{{ path('app_commande_checkout') }}">Create new</a>#}
{% endblock %}
