{{ form_start(form) }}
<div class="form-group">
{{ form_row(form.nomAuteur, {
    attr: {
        'class': 'form-control'
    }
}) }}
{{ form_row(form.prenomAuteur, {
    attr: {
        'class': 'form-control'
    }
}) }}
{{ form_row(form.photoFile, {
    attr: {
        'placeholder': 'Choisir photo d\'auteur',
        'class': 'form-control'
    }
}) }}
</div>
    <button class="btn btn-primary" formnovalidate>{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
