{% extends 'base.html.twig' %}

{% block title %}Auteur index{% endblock %}

{% block body %}
<div class="container-fluid">
    <h2>Liste des Auteurs</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Photo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for auteur in auteurs %}
            <tr>
                <td>{{ auteur.idAuteur }}</td>
                <td>{{ auteur.nomAuteur }}</td>
                <td>{{ auteur.prenomAuteur }}</td>
                <td>{{ auteur.photoAuteur }}</td>
                <td>
                    <a href="{{ path('app_auteur_show', {'idAuteur': auteur.idAuteur}) }}">show</a>
                    <a href="{{ path('app_auteur_edit', {'idAuteur': auteur.idAuteur}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">pas d'auteur trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <a href="{{ path('app_auteur_new') }}">Create new</a>
    </div>
{% endblock %}
