{% extends 'baseBack.html.twig' %}

{% block title %}Emprunt{% endblock %}

{% block body %}
    <h1>Emprunt</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdEmprunt</th>
                <td>{{ emprunt.idEmprunt }}</td>
            </tr>
            <tr>
                <th>IdAbonnement</th>
                <td>{{ emprunt.idAbonnement }}</td>
            </tr>
            <tr>
                <th>DateEmprunt</th>
                <td>{{ emprunt.dateEmprunt ? emprunt.dateEmprunt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateRetourOuvrage</th>
                <td>{{ emprunt.dateRetourOuvrage ? emprunt.dateRetourOuvrage|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_emprunt_index') }}">back to list</a>

    <a href="{{ path('app_emprunt_edit', {'idEmprunt': emprunt.idEmprunt}) }}">edit</a>

    {{ include('emprunt/_delete_form.html.twig') }}
{% endblock %}
