{% extends 'home_page/HomePageClient.html.twig' %}
{% block title %}bookTest{% endblock %}
{% block body %}
    <body class="main-layout">
    <div class="ourwork">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>nos livre</h2>
                    </div>
                </div>
            </div>
            <div class="row">


                    <div class="col-md-4">
                        <div class="our_box">
                            <div class="jonu">
                                <img src="{{ asset('Front/images/LOGO1.png') }}" alt="#"/>
                                <h3>livre a emprunter</h3>
                                <strong>50, 30</strong>
                                <label for="quantity">Nombre de semaine (entre 1 et 5):</label>
                                <input type="number" id="nbrsemaine" name="nbrsemaine" min="1" max="5">
                                 <a class="read_more" href="{{ path('app_emprunt_new', { 'id_livre' :2 , 'nbr_semaine':5}) }}">Emprunter</a>

                            {#    <a class="read_more" href="{{ path('app_commande_new')}}">acheter</a>#}


                            </div>
                        </div>
                    </div>

                <div class="col-md-4">
                    <div class="our_box">
                        <div class="jonu">
                            <img src="{{ asset('Front/images/LOGO1.png') }}" alt="#"/>
                            <h3>livra a acheter</h3>
                            <strong>50, 30</strong>

                            {#  <a class="read_more" href="{{ path('app_emprunt_new', { 'id_livre' :2 , 'nbr_semaine':5}) }}">Emprunter</a>#}

                            <a class="read_more" href="{{ path('app_commande_new')}}">acheter</a>


                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>



    </body>

{% endblock %}
