{% extends 'baseBack.html.twig' %}

{% block body %}
    <div  class="main-panel">
        <div class="content-wrapper">
            <div class="page-header" style="margin: 0 0 4.5rem 0;">
                <h3 class="page-title"> Elibrary </h3>

            </div>
            <div class="row" style="margin: auto;">
                <div class="col-md-7 grid-margin stretch-card" style="margin:auto;">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-right">
                                <div class="col-7">
                                    <h4 class="card-title">Informations</h4>
                                </div>
                                <div class="col-4 text-right" style="display: -webkit-box;">
                                    <a  style="margin-left: -105px;" class="btn btn-outline-primary btn-fw" href="{{ path('app_users_index') }}">Retour</a>
                                    <form style=" margin-left: 5px;" method="post" action="{{ path('app_users_delete', {'idUser': user.idUser}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet utilisateur ?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.idUser) }}">
                                        <button class="btn btn-outline-danger btn-fw">Supprimer</button>
                                    </form>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-12">
                                    {% if not form.vars.valid %}
                                        {% for child in  form.children %}
                                            {% for error in child.vars.errors %}
                                                <div class="alert alert-danger">{{ error.message }}</div>
                                            {% endfor %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <p class="card-description">  </p>


                            {{ form_start(form , {'attr' : {'novalidate' : 'novalidate'}}) }}
                            <div class="form-group">
                                <label for="exampleInputUsername1">Nom</label>
                                {{ form_widget(form.nomUser , {'attr' : {'class' : 'form-control' }})}}
                            </div>

                            {{ form_start(form , {render_rest: true}  ,  {'attr' : {'novalidate' : 'novalidate'}}) }}
                            <div class="form-group">
                                <label for="exampleInputPassword1">Prénom</label>
                                {{ form_widget(form.prenomUser , {'attr' : {'class' : 'form-control' }}) }}
                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword2">Email</label>
                                {{ form_widget(form.emailUser , {'attr' : {'class' : 'form-control' }}) }}
                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword4">Téléphone</label>
                                {{ form_widget(form.telUser , {'attr' : {'class' : 'form-control' }}) }}
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword4">Adresse</label>
                                {{ form_widget(form.adresse , {'attr' : {'class' : 'form-control' }}) }}
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword4">Role</label>
                                {{ form_widget(form.role , {'attr' : {'class' : 'form-control' }}) }}
                            </div>
                            <button type="submit" class="btn btn-outline-primary btn-fw">{{ button_label|default('Modifier') }}</button>
                            {{ form_end(form) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
